/*header*/

header {
    background-color: #cccccb;
    padding: 20px;
    text-align: left;
    height: 100vh;
}

header.index {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url("../images/background.jpg");
}

.logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: #cccccc;
}

.languageSelector {
    position: right;
    float: right;
}

body {
    margin: 0;
}


/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    text-align: center;
    background-color: rgb(151, 139, 139);
}


/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change color on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.cuentatras {
    height: 40px;
    font-size: 20;
    background-color: #669999;
}

.clasificaciones {
    background-color: #527a7a;
    height: 40px;
}


/* Create three equal columns that floats next to each other */

.column {
    float: left;
    width: 100%;
    padding: 0 20%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*Nav menú inferior*/

.bottomnav {
    height: 120px;
}


/* Create three equal columns that floats next to each other */

.column_inferior {
    float: left;
    width: 50%;
}

.data {
    border: black;
}

footer {
    height: 30px;
    background-color: black;
    font-size: 12;
    color: red;
    text-align: center;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
    .topnav {
        display: none;
    }
}